<div class="form-card">
  <form [formGroup]="form">
    <div class="form-group">
      <h3 style="margin-top: 0%;">MODEM:
      <label style="font-size: medium; margin-left: 10px; margin-right:10px; margin-bottom: 0px; color: black;" > Qty </label>
      <select id="int_OFC_HUT_MODEM_COUNT" style="width: 60px; height: 40px;" formControlName="int_OFC_HUT_MODEM_COUNT" (change)="onQtyChange()">
        <option *ngFor="let qtyOption of qtyOptions" [value]="qtyOption">{{ qtyOption }}</option>
      </select>
      </h3>  
    </div>
   <div formArrayName="entries">
<!--     <div *ngFor="let item of getQuantityArray(); let i=index" > -->
      <div *ngFor="let item of entries.controls; let i = index">
     <div [formGroupName]="i">
      <div class="form-row">
      <div class="form-group">
        <label *ngIf="i === 0" for="slNo">S No</label>
        <input type="text" id="{{'str_kavach_card_sl_no'+i}}" [formControlName]="'str_kavach_card_sl_no'">
      </div>
      <div class="form-group">
        <label *ngIf="i === 0" for="dom">DOM</label>
        <input type="date" id="{{'dt_kawach_card_mfd'+i}}" [formControlName]="'dt_kawach_card_mfd'">
      </div>
      <div class="form-group">
        <label *ngIf="i === 0" for="doi">DOI</label>
        <input type="date" id="{{'dt_kawach_card_install'+i}}" [formControlName]="'dt_kawach_card_install'">
      </div>
     </div>
   </div>
  </div>
 </div>
</form>
<!--   <button type="submit" class="submit-button" (click)="onSubmit()">Next</button> -->
</div>
