<div class="feedback">
<nav class="navbar navbar-light custom-navbar custom-navbar-blue">
    <div class="container-fluid">
      <a class="navbar-brand">SMMS</a>
    </div>
  </nav>
  <nav class="navbar navbar-default shadowed-navbar" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-left">
          <li><a href="home">Dashboard</a></li>
          <li><a href="feedback">Feedback</a></li>
          <li><a href="kavachform">Kavach</a></li>
          <li><a href="inspect">Joint Inspection</a></li> 
          <li><a href="help">Help</a></li>
          <li class="dropdown">
            <a  class="dropdown-toggle" data-toggle="dropdown">Asset <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="kavachform">Kavach</a></li>
                <li><a href="#">EI(GE elctronic)</a></li>
                <li><a href="#">GGT MSDAC</a></li>
                <li><a href="#">Sigma (Altpro) MSDAC</a></li>
                <li><a href="#">Kawach</a></li>
                <li><a href="#">EI (Siemens)</a></li>
                <li><a href="#">Slinding Boom</a></li>
                <li><a href="#">Fire Alarm</a></li>
                <li><a href="#">MSDAC Medha</a></li>
            </ul>
        </li>
        <li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        </ul>
      </div>
    </div>
</nav>
  <!-- FEEDBACK FORM MODULE -->
  <div class="feedback-form">
 <!--     <form #myForm="ngForm" (ngSubmit)="SaveForm(myForm.value)">   -->
      <form (ngSubmit)="onSubmit()" enctype="multipart/form-data"> 
         <h4 style="text-align: center;">Feedback Form</h4>
        <div class="form-row">
          <div class="field">
            <label for="railway">Zone</label>
            <input type="text" id="railway" name="railway"  value="" [(ngModel)]="strzonecode"  [disabled]="isInputDisabled" >
          </div>
          <div class="field">
            <label for="division">Division</label>
            <input type="text" id="division" name="division" [(ngModel)]="strdivisioncode"  [disabled]="isInputDisabled"> 
          </div>
          <div class="field">
            <label for="section">Designation</label>
            <input type="text" id="section" name="section" [(ngModel)]="struserdesignation" [disabled]="isInputDisabled">
          </div>
        </div>
        <div class="form-row">
          <div class="field">
            <label for="feedbacktype">Feedback Type <span class="required">*</span></label>
            <select id="feedbacktype" name="intFeedbackTypeID" [(ngModel)]="SelectedFeedbackid"   required>
              <option value=""   >Feedback Type </option>
              <option *ngFor="let category of feedbacktype" [value]="category.intfeedbacktypeid">{{ category.strfeedbacktypedescription }}</option>
            </select>
            <div *ngIf="formSubmitted && SelectedFeedbackid  == '' " style="color: red;" class="error-message">Please select an option</div>
          </div>
          <div class="field">
            <label for="category">Module <span class="required">*</span></label>
            <select id="category" name="intModuleID" [(ngModel)]="SelectedModuleId"  #mySelect (change)='onOptionsSelected(mySelect.value)' required>
              <option value="" >Select Module</option>
              <option *ngFor="let category of modulelist" [value]="category.intmoduleid">{{ category.strmoduledescription }}</option>
            </select>
            <div *ngIf="formSubmitted && SelectedModuleId  == ''" style="color: red;" class="error-message">Please select an option</div>
            </div>
          <div class="field">
            <label for="subcategory">SubModule <span class="required">*</span></label>
            <select id="subcategory" name="strSubModuleID" [(ngModel)]="SelectedSubModule">
              <option value="" >Select SubModule</option>
              <option *ngFor="let items of dropdownData" [value]="items.strsubmoduleid">{{ items.strsubmoduledescription }}</option>
            </select>  
             <div *ngIf="formSubmitted && SelectedSubModule  == ''" style="color: red;" class="error-message">Please select an option</div>  
          </div>
          </div>
        <div class="form-row">
          <div class="field">
            <label for="remark">Remark <span class="required">*</span></label>
            <textarea id="remark" name="strFeedbackRemark" rows="4" [(ngModel)]="SelectedRemark" required></textarea>
           <div *ngIf="formSubmitted && !SelectedRemark" style="color: red;" class="error-message">Please enter data in this field</div>
          </div>
        </div>
        <div class="form-row">
          <div class="field">
            <label for="image">Upload Image</label>
            <input type="file" id="file-input" name="image" (change)="handleFileUpload($event)">
          </div>
          <div class="field">
            <button type="submit" class="submit-button" >Submit</button>
          </div>        
  <!--      <div class="field">
            <button  (click)="upload()">upload</button>
          </div>  --> 
        </div>
      </form>
  
    <div class="feedback-table">
      <table class="table table-striped table-bordered table-hover">
         <thead class="table-info">
              <tr>
                <!-- <th style="visibility:hidden;">ID</th> -->
                <th>Module</th>
                <th>Sub Module</th>
                <th>Feedback type</th>
                <th>Remark</th>
                <th>Status</th>
                <th>Report Time</th>
                <th>Action</th> 
              </tr>
         </thead>
         <tbody>
              <tr *ngFor="let entry of tableform">
                <td>{{ entry.strmoduledescription }}   <span style="visibility:hidden;" > {{entry.intfeedbackid}}</span></td>
                <td>{{ entry.strsubmoduledescription }}</td>
                <td>{{ entry.strfeedbacktypedescription }}</td>
                <td>{{ entry.strfeedbackremark}}</td>
                <td>{{ entry.strstatusdescription }}</td>
                 <td>{{ entry.dtopentime | date:'dd-MM-yyyy'}}</td>
                 <td> 
                   <button class="btn btn-primary" (click)="openModal(entry.intfeedbackid,entry.strmoduledescription,entry.strsubmoduledescription,entry.strfeedbacktypedescription, entry.strstatusdescription)">Details</button> 
                </td> 
              </tr>
<!--               <app-modal *ngIf="showModel"  (onClose)=" closeModal()"></app-modal>  -->
          </tbody>
        </table>
      </div>
    
    </div>
  
  </div>
  
  